result
*.pdf
**/.ccls-cache
zig-cache
zig-out
baremetal/iso
*.iso
*.dump
*.objdump

# report
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
report.pdf
figures/*.pdf
*.run.xml
_minted*
*.toc
*.bcf
*.lof
*.lol
*.tdo
*.gz
*.pyg
*.xdv
*.bak*
*.loa

**/*backups

*.o

lean_model/.lake
*SAVE-ERROR
